{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.displayName) }}
        {{ form_row(registrationForm.timezone) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {% if registrationForm.agreeTerms is defined %}
            {{ form_row(registrationForm.agreeTerms) }}
        {% endif %}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
