<div class="theme-details">
    Start: {{ theme.startDate is empty ? "" : theme.startDate | date("F j, Y") }}<br/>
    End: {{ theme.endDate is empty ? "" : theme.endDate | date("F j, Y") }}<br/>
    {{ include('partials/_progress_percentage.html.twig', { progress: theme.progress }) }}
    {{ include('partials/_bargraph.html.twig', { progress: theme.progress }) }}
    <hr/>
    <small>Created: {{ theme.createdOn | date }} </small>
</div>
