{% for theme in themes %}
<div class="row mb-2">
    <div class="col theme_name">
        <h3><a href="{{ path('theme_show', { 'id': theme.id }) }}">{{ theme.name }}</a></h3>
    </div>
</div>
<div class="row mb-2">
    <div class="col-sm-9 theme_description">
        {{ theme.description | striptags | markdown }}
    </div>
    <div class="col-sm-3">
        {{ include('partials/_theme_metadata.html.twig') }}
    </div>
    <hr />
</div>
{% else %}
<p>{{ no_themes_message ?? 'No themes yet' }}</p>
{% endfor %}
