{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('action_new') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('action_new') }}
{% endblock %}

{% block title %}Fresher - New Action{% endblock %}

{% block body %}
    <h1>Adding an Action</h1>
    <p>Add your action to goal: <strong>{{ goal.name }}</strong></p>
    {{ form(form) }}
{% endblock %}
