{% extends 'base.html.twig' %}

{% block title %}Fresher Admin - Motivational Quotes{% endblock %}

{% block body %}
    {{ include('partials/_alert.html.twig') }}
    <h1>Motivational Quotes</h1>
    <p>{{ pagination.getTotalItemCount }} quotes</p>
    <p><a href="{{ path('admin_quote_new') }}">Add quote</a></p>
    {% for quote in pagination %}
        <div class="row bg-secondary bg-gradient mt-2">
            <div class="col-11 pt-2">
                <blockquote>
                    <div class="quote">
                        “{{ quote.quote | striptags | markdown_inline }}”
                    </div>
                    <div class="attribution ms-4">
                        —{{ quote.attribution | striptags | markdown_inline }}
                    </div>
                </blockquote>
            </div>
            <div class="col-1 align-self-center">
                <a class="" href="{{ path('admin_quote_edit', { 'quote': quote.id }) }}">edit</a>
            </div>
        </div>
    {% endfor %}
    <div class="row mt-4">
        <div class="col">
            <div class="navigation">
                {{ knp_pagination_render(pagination, null, {}, { 'align': 'center' }) }}
            </div>
        </div>
    </div>
{% endblock %}
