{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('theme_edit') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('theme_edit') }}
{% endblock %}

{% block title %}Edit Theme{% endblock %}

{% block body %}
<div class="container">
    <h1>Edit Theme</h1>
    {{ form(form) }}
</div>
{% endblock %}
