{% extends 'base.html.twig' %}

{% block title %}Fresher - Themes{% endblock %}

{% block body %}
<div class="container theme_index">
    {{ include('partials/_alert.html.twig') }}
    <h1>Themes</h1>
    {% for theme in themes %}
    <div class="row mb-2">
        <div class="col-2 theme_name">
            <a href="{{ path('theme_show', { 'id': theme.id }) }}">{{ theme.name }}</a>
        </div>
        <div class="col-7 theme_description">
            {{ theme.description }}
        </div>
        <div class="col-2 theme_details">
            <small>Start date: {{ theme.startDate | date("F j, Y") }}</small><br/>
            <small>End date: {{ theme.endDate | date("F j, Y") }}</small>
        </div>
        <div class="col-1">
            <a href="{{ path('theme_edit', { 'id': theme.id }) }}">edit</a>
        </div>
    </div>
    {% else %}
    <p>No themes yet.</p>
    {% endfor %}

</div>
{% endblock %}
