{% extends 'base.html.twig' %}
{% block title %}Fresher - Show Theme{% endblock %}
{% block body %}
<div class="container">
    {{ include('partials/_alert.html.twig') }}
    <h1>Theme Details</h1>
    <h2>{{ theme.name }}</h2>
    <p>{{ theme.description }}</p>
    <div class="details">
        Start date: {{ theme.startDate | date("F j, Y") }}<br/>
        End date: {{ theme.endDate | date("F j, Y") }}<br/>
        <hr/>
        <small>Created: {{ theme.createdOn | date }} </small>
    </div>
    <a href="{{ path('theme_edit', { 'id': theme.id }) }}" class="btn btn-secondary mt-2">Edit Theme</a>
</div>
{% endblock %}
