{% extends 'base.html.twig' %}
{% block title %}Fresher - Goal{% endblock %}

{% block body %}
<div class="container">
    {{ include('partials/_alert.html.twig') }}
    <h1>Goal: {{ goal.name }} </h1>
    <div class="row">
        <div class="col-9">
            <p>Part of Theme <em><a href="{{ path('theme_show', { 'id': theme.id }) }}">{{ theme.name }}</a></em>
            <h2>Description</h2>
            {{ goal.description | striptags | markdown }}
            <h2>Reason</h2>
            <p><small>(Reason the goal applies to Theme <em>{{ theme.name }}</em>)</small></p>
            <p>{{ goal.reason}}</p>
            <h2><a href="{{ path("action", {'theme': theme.id, 'goal': goal.id }) }}">Actions</a></h2>
            <p><small>
                (Actions are any little thing you might be able to do <em>now</em> to move toward
                this goal. This isn't a to-do list; keep things general rather than specific. Think
                "get a little exercise?" rather than "10x pull ups". A random selection of these
                choices will be sent to you as part of your reFresher schedule.)
            </small></p>
            {{ include('partials/_action_list.html.twig', {actions: goal.actions }) }}
            <a href="{{ path('action_new', { 'theme': theme.id, 'goal': goal.id }) }}">Add an action</a>
        </div>
        <div class="col">
            Start: {{ goal.startDate is empty ? "<none>" | e : goal.startDate | date("F j, Y") }}<br/>
            End: {{ goal.endDate is empty ? "<none>" | e : goal.endDate | date("F j, Y") }}<br/>
            <hr/>
            <small>Created: {{ goal.endDate | date }}</small>
            <hr/>
            <form
                method="POST"
                action="{{ path('goal_delete', { 'theme': theme.id, 'goal': goal.id }) }}"
                onsubmit="return confirm('Are you sure you want to delete this goal?');"
                >
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="token" value="{{ csrf_token('goal_delete') }}"/>
                <button type="submit" name="btn_delete" class="btn btn-danger mt-4"><i class="fas fa-trash-alt" aria-hidden="true"></i> Delete Goal</button>
            </form>

        </div>
    </div>
    <hr/>
    <a href="{{ path('goal_edit', { 'theme': theme.id, 'goal': goal.id }) }}" class="btn btn-secondary mt-2">Edit Goal</a>
</div>
{% endblock %}
