{% extends 'base.html.twig' %}

{% block title %}Hello SetupController!{% endblock %}

{% block body %}
    <h1>Set Up Fresher</h1>
    <p>We just need to do a little first-time setup. Please enter the email address
    and a password to use for the site administrator.</p>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.displayName) }}
        {{ form_row(registrationForm.timezone) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {# {{ form_row(registrationForm.agreeTerms) }} #}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
